@import 'src/styles/colors';

.menubar{
    display: flex;
    flex-direction: column;
    background-color: red;
    color: white;
}

.menubar > a{
    border: 2px solid black;
    border-bottom-width: 0px;
    font-weight: bold;
    font-size: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 30px;
    text-align: left;
}

.menubar > a:visited {
    color: white;
  }
.menubar > a:hover {
    color: black;
  }
  

.menubar > a:last-child{
    border-bottom-width: 2px;
}

#UserBtn{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#pfp{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
